
{% extends 'html/base.html' %}
{% block title %} Auction Item List {% endblock %}
{% block content %}
<div class="container">
  <div class=" card col-md-6 mx-auto shadow-lg">
    <h3 cllass="bg-warning text-light text-center p-2 my-2 border-rounded">Delete Item {{a.item}}</h3>
    <div class="card-body">
      <form method="post">
        {% csrf_token%}
        <h5>Are you sure want to delete ??</h5>
        <h6>Item name:{{a.item}}</h6>
        <p class="text-secondary">Deleted record will not retrieve in future</p>
        <div class="row">
          <div class="col">
            <a href="{% url 'auction_url' %}" class="btn btn-danger form-control">No</a>
          </div>
           <div class="col">
             <input type="submit" value="Yes Confirm" name="" class="btn btn-success form-control">
           </div>
        </div>
      </form>
    </div>
  </div>
  {% endblock %}